<tr class="bg-white border-b border-green-200 hover:bg-green-50">
  <th id="<%= dom_id(result) %>" scope="row" class="px-6 py-4 font-medium text-green-900 whitespace-nowrap">
    <%= "#{result.from.city_name}, #{result.from.country_name}" %>
    <%= "[#{result.from.latitude}, #{result.from.longitude}]" %>
  </th>
  <td class="px-6 py-4 font-medium text-green-900 whitespace-nowrap">
    <%= "#{result.to.city_name}, #{result.to.country_name}" %>
    <%= "[#{result.to.latitude}, #{result.to.longitude}]" %>
  </td>
  <td class="px-6 py-4 font-medium text-green-900 whitespace-nowrap">
    <span class="flex items-center justify-start gap-4 mb-2">
      <span class=""><%= "#{icons('straight')}".html_safe %></span>
      <span class=""><%= "#{result.distance.round(3)} км" %></span>
    </span>
    <span class="flex items-center justify-start gap-4 mb-2">
      <span class=""><%= "#{icons('plane')}".html_safe %></span>
      <span class=""><%= "#{result.flight_distance['km'].round(3)} km, #{result.flight_distance['nm'].round(3)} nm" %></span>
    </span>
    <span class="flex items-center justify-start gap-4">
      <span class=""><%= "#{icons('car')}".html_safe %></span>
      <span class=""><%= result.car_distance.present? ? "#{result.car_distance.round(3)} км" : '-'  %></span>
    </span>
  </td>
</tr>