<tr id="<%= dom_id(place) %>" class="place-row bg-white border-b border-stone-200 hover:bg-stone-50 cursor-pointer transition-all" data-city="<%= place.city_name %>">
  <th scope="row" class="px-6 py-4 font-medium text-stone-800 whitespace-nowrap">
    <%= "#{place.city_name}, #{place.country_name}" %>
  </th>
  <td class="px-6 py-4">
    <%= "[#{place.latitude}, #{place.longitude}]" %>
  </td>
  <th class="px-6 py-4 text-center">
    <input type="checkbox" class="cursor-pointer pointer-events-none"/>
    <span class="hidden"><%= "#{place.city_name}, #{place.country_name}" %></span>
  </th>
  <td>
    <%= button_to place_path(place), method: :delete, class: 'delete-button' do %>
      <%= icons('delete').html_safe %>
    <% end %>
  </td>
</tr>
